@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-surface: #f8fafc;
  --border-color: #e2e8f0;
  --text-primary: #334155;
  --text-active: #2196f3;
}

body {
  background-color: #f1f5f9; /* Світло-сірий фон для всього сайту */
  color: var(--text-primary);
}